<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin dashboard</title>
  </head>
  <body>
    <h1>Welcome to admin dashboard</h1>
    <h3>User dashboard</h3>
    <button onclick="document.location='/user/create'">Create User</button>
    <button onclick="document.location='/user/getview'">Get User</button>
    <button onclick="document.location='/user/update'">Update User</button>
    <button onclick="document.location='/user/delete'">Delete User</button>
  </body>
</html>
