<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Failed</title>
  </head>
  <body>
    <h3>Whatever you're doing is wrong!</h3>
    <button onclick="document.location='/dashboard'">Back to dashboard</button>
  </body>
</html>
