<html>
  <head>
    <title>Articles | Create</title>
  </head>
  <body>
    <form method="POST" action="/api/login">
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" />
      <br />
      <label for="password">Password</label>
      <br />
      <input type="password" name="password" />
      <br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
