<html>
  <head>
    <title>User dashboard</title>
  </head>
  <body>
    <h1>Update user page</h1>
    <form method="POST" action="/api/deleteuser">
      <label for="id">User ID</label>
      <br />
      <input type="text" name="id" />
      <br />
      <button type="submit">Delete User</button>
    </form>
    <button onclick="document.location='/dashboard'">Back to dashboard</button>
  </body>
</html>
